.choosing-que p {
  font-size: 20px;
}
.our-addrs-info ul li {
  font-size: 17px;
}

.scnd-two {
  color: #ffa800;
}

.title-main {
  margin: 20px auto;
  float: left;
  width: 100%;
  text-align: center;
  color: white;
}

.post-details > p {
  font-size: 19px;
}

.spec-text > p {
  font-size: 19px;
}

nav > ul > li {
  margin: auto 35px;
}

.nav-menu-contact {
  font-size: 10px !important;
  color: #ffa800 !important;
}

.contact-cards > div {
  background-color: #ffa800;
  border: #ffa800;
}

.card-text > a {
  color: #000 !important;
}
