.choosing-que p {
  font-size: 18px;
}
.our-addrs-info ul li {
  font-size: 17px;
}

.scnd-two {
  color: #ffa800;
}

.title-main {
  margin: 20px auto;
  float: left;
  width: 100%;
  text-align: center;
  color: white;
}
